
body div { padding: top 100px;}
body section article { padding-bottom: 70px;}
.cartas { padding-left: 320px;}
body section{ padding-top: 80px;}
.card:hover {width:300px ; ; }
img {  transition-duration: 0.5s; }
.card-body a{width: 250px; height: 80x; background-color:#FADA7A ;color: 
  #222831;}
.card-body a:hover{ background-color:#3D365C  ; color:#FDFAF6 ; } 
body{ background-color:#FBFACD ;}
body section .card-body{ background-color: #7e4585b9;  }

.carousel-inner{ height: 450px; padding-bottom:300px ;}
.carousel-item img {height: 450px; object-fit: cover;}


.card-text { color: #FDFAF6;}
.card-title { color: #FDFAF6;}
.btn  { color: #FDFAF6;}
.titulo { font-family: "Tagesschrift", system-ui; ;
  font-style: normal; padding-left: 600px; font-size: 100px; color: #7e4585; }
  .redes  a{  padding-left: 200px; ; display: block; margin-top: 20px; }

  footer {background-color:#7e4585bd ; height: 400px; }

    .offcanvas-header { background-color: #7e4585;}
    .btn { background-color: #7e4585; margin-left: 60px; width: 200px; height: 70px;} 
    .btn:hover { background-color: #3D365C;}
    .offcanvas-title { color: #FDFAF6;}
    .offcanvas { background-color: #FBFACD;}
   body .botones { margin-left: 50px; padding: 70px;}
  body .masinfo {padding: 300px; margin-top: 20px;}
