section { color: brown;}
section h2{ color: aquamarine;}
section p{background-color: brown;}
.pelisNuevas{ color: burlywood;}
.parraf{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: larger; font-weight: 600; font-style: oblique;

} 